$orange: #D55320;
$beige: #E1D7CE;
$offWhite: #F8F4F0;
$red: #C32B44;

$lightGrey: #706F6E;
$midGrey: #363535;
$darkGrey: #161515;

$browserContext:16px;

@function em($pixels, $context: $browserContext) {
  @if (unitless($pixels)) { $pixels: $pixels * 1px; }
  @if (unitless($context)) { $context: $context * 1px; }

  @return $pixels / $context * 1em;
}

@function vw($pixels, $context: $browserContext) {
  @if (unitless($pixels)) { $pixels: $pixels * 1px; }
  @if (unitless($context)) { $context: $context * 1px; }

  @return $pixels / $context * 1vw;
}

$borderRadius: vw(10px);

$fontSize7px:  vw(em(7), 1em);
$fontSize10px: vw(em(10), 1em);
$fontSize18px: vw(em(18), 1em);
$fontSize19px: vw(em(19), 1em);
$fontSize20px: vw(em(20), 1em);
$fontSize22px: vw(em(22), 1em);
$fontSize30px: vw(em(30), 1em);
$fontSize32px: vw(em(32), 1em);
$fontSize36px: vw(em(36), 1em);
$fontSize48px: vw(em(48), 1em);
$fontSize60px: vw(em(60), 1em);
$fontSize80px: vw(em(80), 1em);

/*=======================*/
/* MIXINS
/*=======================*/
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@mixin transform($str) {
  -webkit-transform: #{$str};
  -moz-transform: #{$str};
  -ms-transform: #{$str};
  -o-transform: #{$str};
  transform: #{$str};
}

@mixin transition($str) {
  -webkit-transition: -webkit-#{$str};
  -moz-transition: -moz-#{$str};
  -ms-transition: -ms-#{$str};
  -o-transition: -o-#{$str};
  transition: #{$str};
}

/*=======================*/
/* FONT FACES
/*=======================*/
@font-face {
  font-family: 'Oswald-RegularItalic';
  src: url('fonts/Oswald-RegularItalic.eot');
  src: url('fonts/Oswald-RegularItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/Oswald-RegularItalic.woff2') format('woff2'),
       url('fonts/Oswald-RegularItalic.woff') format('woff'),
       url('fonts/Oswald-RegularItalic.ttf') format('truetype'),
       url('fonts/Oswald-RegularItalic.svg#Oswald-RegularItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*=======================*/
/* 12 columns Responsive Grid
/*=======================*/
.row { zoom: 1; }
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.row:after { clear: both; }
.col { display: block; }
.col_1 { width: 8.33333333%; }
.col_2 { width: 16.66666667%; }
.col_3 { width: 25%; }
.col_4 { width: 33.33333333%; }
.col_5 { width: 41.66666667%; }
.col_6 { width: 50%; }
.col_7 { width: 58.33333333%; }
.col_8 { width: 66.66666667%; }
.col_9 { width: 75%; }
.col_10 { width: 83.33333333%; }
.col_11 { width: 91.66666667%; }
.col_12 { width: 100%; }


/*=======================*/
/* GENERAL RULES
/*=======================*/
html, body {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  font-family:"Oswald", sans-serif;
  font-weight:100;
  font-size:1rem;
  text-transform:uppercase;
  color:$midGrey;
}

hr { border: none; background: $midGrey; height: 1px; }

a { color: inherit; text-decoration: none; }
a:hover { color:$orange; }

::-moz-selection {
  background:  $orange;
  color:       #FFF;
  text-shadow: none;
}

::selection {
  background:  $orange;
  color:       #FFF;
  text-shadow: none;
}

.left { float:left; }
.right { float:right; }

.left:after, .right:after {
  content:"";
  display:table;
  clear:both;
}

.beige { color:$beige; }
.orange { color:$orange; }
.midGrey { color:$midGrey; }

#bg {
  width:100%;
  height:100%;
  position:absolute;
  background:$offWhite url("../img/bg.jpg") no-repeat;
  background-size:cover;
  z-index: 0;
}

#audioVisualizer { position:absolute; width:100%; height:100%; top:0; left:0; }

#wrapper {
  width:100%;
  height:100%;
  position:absolute;
  z-index:1;
  
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}


/*******/
#screen_play {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*******/
#songInfo {
  width:100%;
  height:150px;
  position:absolute;
  padding:vw(40px);
  box-sizing:border-box;
  font-size:$fontSize30px;
  text-transform:none;
}

#songInfo .title {
  font-size:$fontSize36px;
  vertical-align: super;
  display: inline-block;
}

#songInfo .artist { font-size:$fontSize30px; color:$lightGrey; }


/*******/
#hud {
  width:100%;
  height:vw(180px);
  position:absolute;
  bottom:0;
  padding:0 vw(40px) vw(40px);
  box-sizing:border-box;
  font-size:$fontSize22px;
}

#lifeSphere {
  width: vw(120px);
  height: vw(120px);
  border-radius: 50%;
  position: absolute;
  overflow:hidden;
  bottom: vw(40px);

  transform:scale(1);
}

#lifeSphere:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: $midGrey vw(6px) solid;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  box-sizing: border-box
}

#lifeSphere .bar {
  width: 100%;
  height: 50%;
  position:absolute;
  bottom: 0;
  background:$midGrey;
}

#lifeSphere.critical:before { @include animation("criticalBorder 2s ease-out infinite"); }
#lifeSphere.critical .bar { @include animation("criticalBG 2s ease-out infinite"); }

@include keyframes(criticalBorder) {
  0%, 100% { border-color:$midGrey; }
  50% { border-color:$red; }
}

@include keyframes(criticalBG) {
  0%, 100% { background:$midGrey; }
  50% { background:$red; }
}

#gameInfo {
  margin-left: vw(150px);
  height: vw(120px);
  position: absolute;
  width: calc(100% - #{vw(230px)});
  bottom: vw(40px);
  color:$midGrey;

  transition:color .4s ease-out;
}

#screen_play.ready #gameInfo { color:$beige; }

#gameInfo > div { position:relative; }

#life, #progress { height:vw(30px); margin-top:vw(15px); }
#progress { display: inline-block; }
#score { display: inline-block; margin-top: vw(-6px); }

#gameInfo .value {
  color:$orange;
  font-weight:500;
  font-size:$fontSize30px;
  margin-left: vw(20px);
  text-align: right;
  display:inline-block;
  width:vw(90px);
}

#score .value { font-size:$fontSize48px; width: vw(120px); }

#progressBar {
  width:100%;
  height:vw(15px);
  margin-top:vw(15px);
  border-radius:$borderRadius;
  overflow:hidden;
}

#progressBar:before {
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  background:$midGrey;
}

#progressBar .bar {
  width:0%;
  height:100%;
  position:absolute;
  background:$orange;
}

#progressBar .marker {
  position: absolute;
  height: 100%;
  width: 2px;
  background: $lightGrey;
  z-index:2;

  transition:background .2s ease-out;
}

#progressBar .marker.passed { background: $midGrey; }
#progressBar .marker.p60 { left: 60%; }
#progressBar .marker.p75 { left: 75%; }
#progressBar .marker.p90 { left: 90%; }


/*******/
#staff {
  width:calc(100% - #{vw(40px)});
  height:195px;
  position:absolute;
  right:0;
  top:calc(50% - (195px / 2) - (#{vw(195px)} / 3));
}

#lines {
  width:100%;
  height:1px;
  top:16px;
  position:absolute;
  background:#999;
  box-shadow:0  40px 0 #999,
             0  80px 0 #999,
             0 120px 0 #999,
             0 160px 0 #999;
  z-index:2;
}

#keys, #accuracy { z-index:3; position:absolute;; }

#keys li, .note {
  width:36px;
  height:36px;
  background:#333;
  color:$lightGrey;
  margin-bottom:4px;
  border-radius:50%;
  text-align:center;
  font-size:16px;
}

.note {
  width:vw(36px);
  height:vw(36px);
  margin-bottom:vw(4px);
}

#keys li.pressed, li.pressed .note, li:hover .note { background:$orange; color:$offWhite; }
#keys i, .note i { line-height: 1.5em; font-size:1.5em; }

#accuracy { left:vw(48px); top: vw(-20px); }

#accuracy li {
  font-weight: 400;
  color: $orange;
  font-family: "Press Start 2P", cursive;
  font-size: $fontSize10px;
  background: $midGrey;
  padding: vw(8px);
  box-sizing: border-box;
  border-radius: vw(10px);
  margin-bottom: vw(8px);
  line-height: vw(16px);
  height: vw(32px);
  display: table;
  opacity:0;
}

#accuracy li.visible { opacity:1; }

#accuracy .value {
  color: $beige;
  float: right;
  display: inline-block;
  text-align: right;
  margin-left: vw(10px);
}

#notes { width: calc(100% - 16px); height: 100%; position:absolute; z-index:2; left: 16px; }


/*******/
.button {
  width:vw(160px);
  height:vw(50px);
  background:$darkGrey;
  color:$beige;
  border-radius:$borderRadius;
  padding-left:vw(16px);
  line-height:vw(50px);
  box-sizing:border-box;
  display:inline-block;
  cursor:pointer;
  text-align:left;
  margin:vw(40px) 0 0;
  position:relative;

  transition:letter-spacing .2s ease-out;
}

.button:hover { background:$midGrey; letter-spacing: 1px; }

.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size:$fontSize20px;
  z-index: 1;

  pointer-events:none;
  opacity:0;

  transition:opacity .2s .4s ease-out;
}

.screen.active {
  pointer-events:auto;
  opacity:1;

  transition:opacity .2s ease-out;
}

.overlay {
  z-index: 9999;
  background: rgba(0,0,0,.95);

  transform:scale(1.2);
  transition:all .2s .4s ease-out;
}

.overlay.active {
  transform:scale(1);

  transition:all .2s ease-out;
}

.screen .container {
  width:vw(1200px);
  height:vw(550px);
  position:absolute;
  left:calc(50% - #{vw(1200px)} / 2);
  top:calc(50% - #{vw(550px)} /2);
  padding:0 vw(40px);
  box-sizing:border-box;
}

.screen h1 {
  color: $orange;
  font-size: $fontSize80px;
  margin-bottom:1em;
  font-family: 'Oswald-RegularItalic';
  position:relative;

  transform-origin:0 0;
}

#screen_results h1 { margin-bottom:vw(50px); }
.screen p { line-height: 1.25em; }

.screen .nav li {
  @extend .button;
  margin: 0 vw(50px) 0 0;
}

.screen .nav li:last-child { margin-right:0; }

.screen .left, .screen .right { height: calc(100% - #{vw(130px)}); width:calc(50% - #{vw(40px)}); }
.screen .right { text-align:right; }

.screen .panel {
  background: $darkGrey;
  border-radius:$borderRadius;
  padding: vw(10px);
  box-sizing: border-box;
  font-size: $fontSize19px;
}

.screen .panel h2 {
  font-family: "Press Start 2P", cursive;
  text-transform: none;
  text-align: center;
  margin: vw(15px) 0 vw(25px);
  color:$beige;
}

.screen .row { line-height: 1.25em; position:relative; }
.screen .row span { display:inline-block; position:relative; }
.screen .nb, .screen .points, .screen .percent { text-align: right; }

#screen_loading .percent { width:vw(250px); display:inline-block; }

#screen_highScores .label { width: vw(75px); }
#screen_highScores .date { width: vw(200px); }
#screen_highScores .points { width: vw(125px); }
#screen_highScores .percent { width: vw(95px); }
#screen_highScores .rank { margin-left: vw(16px); }
#screen_highScores .stars { display:inline-block; width: vw(150px); text-align: right; }

#screen_howToPlay p { font-size: $fontSize20px; margin-bottom:vw(32px); }
#screen_howToPlay ul { display: flex; flex-wrap: wrap; }
#screen_howToPlay li { display: inline-table; width: 33.3333%; cursor:pointer; }
#screen_howToPlay li:nth-child(1), #screen_howToPlay li:nth-child(2), #screen_howToPlay li:nth-child(3) { margin-bottom:vw(16px); }
#screen_howToPlay .note, #screen_howToPlay .label { display: inline-block; }
#screen_howToPlay .note { width: vw(32px); height: vw(32px); margin-right:vw(16px); }
#screen_howToPlay .note i { line-height: 1.25em; font-size: 1.25em; }
#screen_howToPlay .label {
  color:$beige;
  font-size:$fontSize7px;
  font-family: "Press Start 2P", cursive;
  vertical-align: middle;
  height: 100%;
  line-height: vw(32px);
}

#screen_howToPlay li.pressed .label, #screen_howToPlay li:hover .label { color:$orange; }

.fa-p:before {
  content: "P";
  font-family: Oswald;
  font-weight: 600;
}

#screen_credits .button:after {
  content:"- Thanks for playing!";
  font-family: "Press Start 2P", cursive;
  color:$orange;
  font-size:$fontSize7px;
  transform:translateY(#{vw(10px)});
  opacity:0;
  position:absolute;
  top: vw(-40px);
  left: 0;
  white-space: nowrap;

  transition:all.2s ease-out;
}

#screen_credits .button:hover:after { transform:translateY(0); opacity:1; }

#screen_results .label { width:40%; }
#screen_results .nb { width: 10%; }
#screen_results .points { width: 25%; }
#screen_results .percent { width: 20%; }
#screen_results #results_totalCompletion { margin-top:vw(14px); }

.screen .newRecord {
  width: vw(28px);
  height: vw(28px);
  position: absolute;
  border-radius: 50%;
  background: $midGrey;
  color: $orange;
  text-align: center;
  line-height: vw(28px);
  font-size: $fontSize18px;
  left: vw(48px);
  opacity: 0;

  transition: none;
}

.screen .newRecord:before {
  content:"new record!";
  position:absolute;
  background: $midGrey;
  font-family: "Press Start 2P", cursive;
  color:$beige;
  font-size: $fontSize7px;
  width: vw(90px);
  border-radius: vw(20px);
  padding-left: vw(18px);
  height: vw(20px);
  line-height: vw(20px);
  top: vw(4px);
}

.screen .newRecord.visible { left:vw(32px); opacity:1; transition: all .5s ease-out; }

#screen_results .nav { position:absolute; right:vw(40px); bottom:0; }
.screen .title, .screen .artist { text-transform:none; font-size:$fontSize32px; position:relative; }
.screen .title { color:$orange; margin-bottom:vw(10px); }
.screen .artist { color:$beige; }

#screen_results .rank { font-family: 'Oswald-RegularItalic'; font-size:$fontSize60px; color:$beige; margin:vw(150px) 0 vw(10px); position:relative; }
.screen .stars { color:$midGrey; position:relative; }
.screen .stars i.on { color:$orange; }

#screen_results .stars { font-size:$fontSize32px; }
#screen_results .stars i:not(:last-child) { margin-right:vw(4px); }