/*=======================*/
/* MIXINS
/*=======================*/
/*=======================*/
/* FONT FACES
/*=======================*/
@font-face {
  font-family: 'Oswald-RegularItalic';
  src: url("fonts/Oswald-RegularItalic.eot");
  src: url("fonts/Oswald-RegularItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Oswald-RegularItalic.woff2") format("woff2"), url("fonts/Oswald-RegularItalic.woff") format("woff"), url("fonts/Oswald-RegularItalic.ttf") format("truetype"), url("fonts/Oswald-RegularItalic.svg#Oswald-RegularItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
/*=======================*/
/* 12 columns Responsive Grid
/*=======================*/
.row {
  zoom: 1; }

.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after {
  clear: both; }

.col {
  display: block; }

.col_1 {
  width: 8.33333333%; }

.col_2 {
  width: 16.66666667%; }

.col_3 {
  width: 25%; }

.col_4 {
  width: 33.33333333%; }

.col_5 {
  width: 41.66666667%; }

.col_6 {
  width: 50%; }

.col_7 {
  width: 58.33333333%; }

.col_8 {
  width: 66.66666667%; }

.col_9 {
  width: 75%; }

.col_10 {
  width: 83.33333333%; }

.col_11 {
  width: 91.66666667%; }

.col_12 {
  width: 100%; }

/*=======================*/
/* GENERAL RULES
/*=======================*/
html, body {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  text-transform: uppercase;
  color: #363535; }

hr {
  border: none;
  background: #363535;
  height: 1px; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: #D55320; }

::-moz-selection {
  background: #D55320;
  color: #FFF;
  text-shadow: none; }

::selection {
  background: #D55320;
  color: #FFF;
  text-shadow: none; }

.left {
  float: left; }

.right {
  float: right; }

.left:after, .right:after {
  content: "";
  display: table;
  clear: both; }

.beige {
  color: #E1D7CE; }

.orange {
  color: #D55320; }

.midGrey {
  color: #363535; }

#bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #F8F4F0 url("../img/bg.jpg") no-repeat;
  background-size: cover;
  z-index: 0; }

#audioVisualizer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

#wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column; }

/*******/
#screen_play {
  position: absolute;
  width: 100%;
  height: 100%; }

/*******/
#songInfo {
  width: 100%;
  height: 150px;
  position: absolute;
  padding: 2.5vw;
  box-sizing: border-box;
  font-size: 1.875vw;
  text-transform: none; }

#songInfo .title {
  font-size: 2.25vw;
  vertical-align: super;
  display: inline-block; }

#songInfo .artist {
  font-size: 1.875vw;
  color: #706F6E; }

/*******/
#hud {
  width: 100%;
  height: 11.25vw;
  position: absolute;
  bottom: 0;
  padding: 0 2.5vw 2.5vw;
  box-sizing: border-box;
  font-size: 1.375vw; }

#lifeSphere {
  width: 7.5vw;
  height: 7.5vw;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  bottom: 2.5vw;
  transform: scale(1); }

#lifeSphere:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: #363535 0.375vw solid;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  box-sizing: border-box; }

#lifeSphere .bar {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  background: #363535; }

#lifeSphere.critical:before {
  -webkit-animation: criticalBorder 2s ease-out infinite;
  -moz-animation: criticalBorder 2s ease-out infinite;
  -ms-animation: criticalBorder 2s ease-out infinite;
  -o-animation: criticalBorder 2s ease-out infinite;
  animation: criticalBorder 2s ease-out infinite; }

#lifeSphere.critical .bar {
  -webkit-animation: criticalBG 2s ease-out infinite;
  -moz-animation: criticalBG 2s ease-out infinite;
  -ms-animation: criticalBG 2s ease-out infinite;
  -o-animation: criticalBG 2s ease-out infinite;
  animation: criticalBG 2s ease-out infinite; }

@-webkit-keyframes criticalBorder {
  0%, 100% {
    border-color: #363535; }
  50% {
    border-color: #C32B44; } }
@-moz-keyframes criticalBorder {
  0%, 100% {
    border-color: #363535; }
  50% {
    border-color: #C32B44; } }
@-ms-keyframes criticalBorder {
  0%, 100% {
    border-color: #363535; }
  50% {
    border-color: #C32B44; } }
@-o-keyframes criticalBorder {
  0%, 100% {
    border-color: #363535; }
  50% {
    border-color: #C32B44; } }
@keyframes criticalBorder {
  0%, 100% {
    border-color: #363535; }
  50% {
    border-color: #C32B44; } }
@-webkit-keyframes criticalBG {
  0%, 100% {
    background: #363535; }
  50% {
    background: #C32B44; } }
@-moz-keyframes criticalBG {
  0%, 100% {
    background: #363535; }
  50% {
    background: #C32B44; } }
@-ms-keyframes criticalBG {
  0%, 100% {
    background: #363535; }
  50% {
    background: #C32B44; } }
@-o-keyframes criticalBG {
  0%, 100% {
    background: #363535; }
  50% {
    background: #C32B44; } }
@keyframes criticalBG {
  0%, 100% {
    background: #363535; }
  50% {
    background: #C32B44; } }
#gameInfo {
  margin-left: 9.375vw;
  height: 7.5vw;
  position: absolute;
  width: calc(100% - 14.375vw);
  bottom: 2.5vw;
  color: #363535;
  transition: color .4s ease-out; }

#screen_play.ready #gameInfo {
  color: #E1D7CE; }

#gameInfo > div {
  position: relative; }

#life, #progress {
  height: 1.875vw;
  margin-top: 0.9375vw; }

#progress {
  display: inline-block; }

#score {
  display: inline-block;
  margin-top: -0.375vw; }

#gameInfo .value {
  color: #D55320;
  font-weight: 500;
  font-size: 1.875vw;
  margin-left: 1.25vw;
  text-align: right;
  display: inline-block;
  width: 5.625vw; }

#score .value {
  font-size: 3vw;
  width: 7.5vw; }

#progressBar {
  width: 100%;
  height: 0.9375vw;
  margin-top: 0.9375vw;
  border-radius: 0.625vw;
  overflow: hidden; }

#progressBar:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #363535; }

#progressBar .bar {
  width: 0%;
  height: 100%;
  position: absolute;
  background: #D55320; }

#progressBar .marker {
  position: absolute;
  height: 100%;
  width: 2px;
  background: #706F6E;
  z-index: 2;
  transition: background .2s ease-out; }

#progressBar .marker.passed {
  background: #363535; }

#progressBar .marker.p60 {
  left: 60%; }

#progressBar .marker.p75 {
  left: 75%; }

#progressBar .marker.p90 {
  left: 90%; }

/*******/
#staff {
  width: calc(100% - 2.5vw);
  height: 195px;
  position: absolute;
  right: 0;
  top: calc(50% - (195px / 2) - (12.1875vw / 3)); }

#lines {
  width: 100%;
  height: 1px;
  top: 16px;
  position: absolute;
  background: #999;
  box-shadow: 0  40px 0 #999, 0  80px 0 #999, 0 120px 0 #999, 0 160px 0 #999;
  z-index: 2; }

#keys, #accuracy {
  z-index: 3;
  position: absolute; }

#keys li, .note {
  width: 36px;
  height: 36px;
  background: #333;
  color: #706F6E;
  margin-bottom: 4px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px; }

.note {
  width: 2.25vw;
  height: 2.25vw;
  margin-bottom: 0.25vw;
  font-size: inherit; }

#keys li.pressed, li.pressed .note, li:hover .note {
  background: #D55320;
  color: #F8F4F0; }

#keys i, .note i {
  line-height: 1.5em;
  font-size: 1.5em; }

#accuracy {
  left: 3vw;
  top: -1.25vw; }

#accuracy li {
  font-weight: 400;
  color: #D55320;
  font-family: "Press Start 2P", cursive;
  font-size: 0.625vw;
  background: #363535;
  padding: 0.5vw;
  box-sizing: border-box;
  border-radius: 0.625vw;
  margin-bottom: 0.5vw;
  line-height: 1vw;
  height: 2vw;
  display: table;
  opacity: 0; }

#accuracy li.visible {
  opacity: 1; }

#accuracy .value {
  color: #E1D7CE;
  float: right;
  display: inline-block;
  text-align: right;
  margin-left: 0.625vw; }

#notes {
  width: calc(100% - 16px);
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 16px; }

/*******/
button {
  width: 10vw;
  height: 3.125vw;
  background: #161515;
  color: #E1D7CE;
  border: none;
  border-radius: 0.625vw;
  padding-left: 1vw;
  line-height: 3.125vw;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  text-align: left;
  margin: 2.5vw 0 0;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  transition: letter-spacing .2s ease-out; }

button:hover {
  background: #363535;
  letter-spacing: 1px; }

.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.25vw;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s .4s ease-out; }

.screen.active {
  pointer-events: auto;
  opacity: 1;
  transition: opacity .2s ease-out; }

.overlay {
  z-index: 9999;
  background: rgba(0, 0, 0, 0.95);
  transform: scale(1.2);
  transition: all .2s .4s ease-out; }

.overlay.active {
  transform: scale(1);
  transition: all .2s ease-out; }

.screen .container {
  width: 75vw;
  height: 34.375vw;
  position: absolute;
  left: calc(50% - 75vw / 2);
  top: calc(50% - 34.375vw /2);
  padding: 0 2.5vw;
  box-sizing: border-box; }

.screen h1 {
  color: #D55320;
  font-size: 5vw;
  margin-bottom: 1em;
  font-family: 'Oswald-RegularItalic';
  position: relative;
  transform-origin: 0 0; }

#screen_results h1 {
  margin-bottom: 3.125vw; }

.screen p {
  line-height: 1.25em; }

.screen nav button {
  margin: 0 3.125vw 0 0; }

.screen nav button:last-child {
  margin-right: 0; }

.screen .left, .screen .right {
  height: calc(100% - 8.125vw);
  width: calc(50% - 2.5vw); }

.screen .right {
  text-align: right; }

.screen .panel {
  background: #161515;
  border-radius: 0.625vw;
  padding: 0.625vw;
  box-sizing: border-box;
  font-size: 1.1875vw; }

.screen .panel h2 {
  font-family: "Press Start 2P", cursive;
  text-transform: none;
  text-align: center;
  margin: 0.9375vw 0 1.5625vw;
  color: #E1D7CE; }

.screen .row {
  line-height: 1.25em;
  position: relative; }

.screen .row span {
  display: inline-block;
  position: relative; }

.screen .nb, .screen .points, .screen .percent {
  text-align: right; }

#screen_loading .percent {
  width: 18.75vw;
  display: inline-block; }

#screen_highScores .label {
  width: 4.6875vw; }

#screen_highScores .date {
  width: 12.5vw; }

#screen_highScores .points {
  width: 7.8125vw; }

#screen_highScores .percent {
  width: 5.9375vw; }

#screen_highScores .rank {
  margin-left: 1vw; }

#screen_highScores .stars {
  display: inline-block;
  width: 9.375vw;
  text-align: right; }

#screen_howToPlay p {
  font-size: 1.25vw;
  margin-bottom: 2vw; }

#screen_howToPlay ul {
  display: flex;
  flex-wrap: wrap; }

#screen_howToPlay li {
  display: inline-table;
  width: 33.3333%;
  cursor: pointer; }

#screen_howToPlay li:nth-child(1), #screen_howToPlay li:nth-child(2), #screen_howToPlay li:nth-child(3) {
  margin-bottom: 1vw; }

#screen_howToPlay .note, #screen_howToPlay .label {
  display: inline-block; }

#screen_howToPlay .note {
  width: 2vw;
  height: 2vw;
  margin-right: 1vw; }

#screen_howToPlay .note i {
  line-height: 1.25em;
  font-size: 1.25em; }

#screen_howToPlay .label {
  color: #E1D7CE;
  font-size: 0.4375vw;
  font-family: "Press Start 2P", cursive;
  vertical-align: middle;
  height: 100%;
  line-height: 2vw; }

#screen_howToPlay li.pressed .label, #screen_howToPlay li:hover .label {
  color: #D55320; }

.fa-p:before {
  content: "P";
  font-family: Oswald;
  font-weight: 600; }

#screen_credits button:after {
  content: "- Thanks for playing!";
  font-family: "Press Start 2P", cursive;
  color: #D55320;
  font-size: 0.4375vw;
  transform: translateY(0.625vw);
  opacity: 0;
  position: absolute;
  top: -2.5vw;
  left: 0;
  white-space: nowrap;
  transition: all 0.2s ease-out; }

#screen_credits button:hover:after {
  transform: translateY(0);
  opacity: 1; }

#screen_results .label {
  width: 40%; }

#screen_results .nb {
  width: 10%; }

#screen_results .points {
  width: 25%; }

#screen_results .percent {
  width: 20%; }

#screen_results #results_totalCompletion {
  margin-top: 0.875vw; }

.screen .newRecord {
  width: 1.75vw;
  height: 1.75vw;
  position: absolute;
  border-radius: 50%;
  background: #363535;
  color: #D55320;
  text-align: center;
  line-height: 1.75vw;
  font-size: 1.125vw;
  left: 3vw;
  opacity: 0;
  transition: none; }

.screen .newRecord:before {
  content: "new record!";
  position: absolute;
  background: #363535;
  font-family: "Press Start 2P", cursive;
  color: #E1D7CE;
  font-size: 0.4375vw;
  width: 5.625vw;
  border-radius: 1.25vw;
  padding-left: 1.125vw;
  height: 1.25vw;
  line-height: 1.25vw;
  top: 0.25vw; }

.screen .newRecord.visible {
  left: 2vw;
  opacity: 1;
  transition: all .5s ease-out; }

#screen_results nav {
  position: absolute;
  right: 2.5vw;
  bottom: 0; }

.screen .title, .screen .artist {
  text-transform: none;
  font-size: 2vw;
  position: relative; }

.screen .title {
  color: #D55320;
  margin-bottom: 0.625vw; }

.screen .artist {
  color: #E1D7CE; }

#screen_results .rank {
  font-family: 'Oswald-RegularItalic';
  font-size: 3.75vw;
  color: #E1D7CE;
  margin: 9.375vw 0 0.625vw;
  position: relative; }

.screen .stars {
  color: #363535;
  position: relative; }

.screen .stars i.on {
  color: #D55320; }

#screen_results .stars {
  font-size: 2vw; }

#screen_results .stars i:not(:last-child) {
  margin-right: 0.25vw; }
