$orange: #D55320;
$beige: #E1D7CE;
$offWhite: #F8F4F0;
$red: #C32B44;

$lightGrey: #706F6E;
$midGrey: #363535;
$darkGrey: #161515;

$borderRadius:10px;

/*=======================*/
/* MIXINS
/*=======================*/
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@mixin transform($str) {
  -webkit-transform: #{$str};
  -moz-transform: #{$str};
  -ms-transform: #{$str};
  -o-transform: #{$str};
  transform: #{$str};
}

@mixin transition($str) {
  -webkit-transition: -webkit-#{$str};
  -moz-transition: -moz-#{$str};
  -ms-transition: -ms-#{$str};
  -o-transition: -o-#{$str};
  transition: #{$str};
}

/*=======================*/
/* FONT FACES
/*=======================*/
@font-face {
  font-family: 'Oswald-RegularItalic';
  src: url('fonts/Oswald-RegularItalic.eot');
  src: url('fonts/Oswald-RegularItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/Oswald-RegularItalic.woff2') format('woff2'),
       url('fonts/Oswald-RegularItalic.woff') format('woff'),
       url('fonts/Oswald-RegularItalic.ttf') format('truetype'),
       url('fonts/Oswald-RegularItalic.svg#Oswald-RegularItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*=======================*/
/* 12 columns Responsive Grid
/*=======================*/
.row { zoom: 1; }
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.row:after { clear: both; }
.device-content {
  width: 960px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.col { display: block; }
.col_1 { width: 8.33333333%; }
.col_2 { width: 16.66666667%; }
.col_3 { width: 25%; }
.col_4 { width: 33.33333333%; }
.col_5 { width: 41.66666667%; }
.col_6 { width: 50%; }
.col_7 { width: 58.33333333%; }
.col_8 { width: 66.66666667%; }
.col_9 { width: 75%; }
.col_10 { width: 83.33333333%; }
.col_11 { width: 91.66666667%; }
.col_12 { width: 100%; }


/*=======================*/
/* GENERAL RULES
/*=======================*/
body {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  font-family:"Oswald", sans-serif;
  font-weight:100;
  text-transform:uppercase;
  color:$midGrey;
}

hr { border: none; background: $midGrey; height: 1px; }

a { color: inherit; text-decoration: none; }
a:hover { color:$orange; }

::-moz-selection {
  background:  $orange;
  color:       #FFF;
  text-shadow: none;
}

::selection {
  background:  $orange;
  color:       #FFF;
  text-shadow: none;
}

.left { float:left; }
.right { float:right; }

.left:after, .right:after {
  content:"";
  display:table;
  clear:both;
}

.beige { color:$beige; }
.orange { color:$orange; }
.midGrey { color:$midGrey; }

#bg {
  width:100%;
  height:100%;
  position:absolute;
  background:$offWhite url("../img/bg.jpg") no-repeat;
  background-size:cover;
  z-index: 0;
}

#audioVisualizer { position:absolute; width:100%; height:100%; top:0; left:0; }

#wrapper {
  width:100%;
  height:100%;
  position:absolute;
  
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}


/*******/
#screen_play {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*******/
#songInfo {
  width:100%;
  height:150px;
  position:absolute;
  padding:40px;
  box-sizing:border-box;
  font-size:30px;
  text-transform:none;
}

#songInfo .title {
  font-size:36px;
  vertical-align: super;
  display: inline-block;
}

#songInfo .artist { font-size:30px; color:$lightGrey; }


/*******/
#hud {
  width:100%;
  height:180px;
  position:absolute;
  bottom:0;
  padding:0 40px 40px;
  box-sizing:border-box;
  font-size:24px;
}

#lifeSphere {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  overflow:hidden;
  bottom: 40px;

  transform:scale(1);
}

#lifeSphere:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: $midGrey 6px solid;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  box-sizing: border-box
}

#lifeSphere .bar {
  width: 100%;
  height: 50%;
  position:absolute;
  bottom: 0;
  background:$midGrey;
}

#lifeSphere.critical:before { @include animation("criticalBorder 2s ease-out infinite"); }
#lifeSphere.critical .bar { @include animation("criticalBG 2s ease-out infinite"); }

@include keyframes(criticalBorder) {
  0%, 100% { border-color:$midGrey; }
  50% { border-color:$red; }
}

@include keyframes(criticalBG) {
  0%, 100% { background:$midGrey; }
  50% { background:$red; }
}

#gameInfo {
  margin-left: 150px;
  height: 120px;
  position: absolute;
  width: calc(100% - 230px);
  bottom: 40px;
  color:$midGrey;

  transition:color .4s ease-out;
}

#screen_play.ready #gameInfo { color:$beige; }

#gameInfo > div { position:relative; }

#life, #progress { height:30px; margin-top:15px; }
#progress { display: inline-block; }
#score { display: inline-block; margin-top: -6px; }

#gameInfo .value {
  color:$orange;
  font-weight:500;
  font-size:30px;
  margin-left: 20px;
  text-align: right;
  display:inline-block;
  width:90px;
}

#score .value { font-size:48px; width: 120px; }

#progressBar {
  width:100%;
  height:15px;
  margin-top:15px;
  border-radius:$borderRadius;
  overflow:hidden;
}

#progressBar:before {
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  background:$midGrey;
}

#progressBar .bar {
  width:0%;
  height:100%;
  position:absolute;
  background:$orange;
}

#progressBar .marker {
  position: absolute;
  height: 100%;
  width: 2px;
  background: $lightGrey;
  z-index:2;

  transition:background .2s ease-out;
}

#progressBar .marker.passed { background: $midGrey; }
#progressBar .marker.p60 { left: 60%; }
#progressBar .marker.p75 { left: 75%; }
#progressBar .marker.p90 { left: 90%; }


/*******/
#staff {
  width:calc(100% - 40px);
  height:195px;
  position:absolute;
  right:0;
  top:calc(50% - (195px / 2) - (195px / 3));
}

#lines {
  width:100%;
  height:1px;
  top:16px;
  position:absolute;
  background:#999;
  box-shadow:0  40px 0 #999,
             0  80px 0 #999,
             0 120px 0 #999,
             0 160px 0 #999;
  z-index:2;
}

#keys, #accuracy { z-index:3; position:absolute; font-size:16px; }

#keys li, .note {
  width:36px;
  height:36px;
  background:#333;
  color:$lightGrey;
  margin-bottom:4px;
  border-radius:50%;
  text-align:center;
}

#keys li.pressed, li.pressed .note, li:hover .note { background:$orange; color:$offWhite; }
#keys i, .note i { line-height: 1.5em; font-size:1.5em; }

#accuracy { left:48px; top: -20px; }

#accuracy li {
  font-weight: 400;
  color: $orange;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  background: $midGrey;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 8px;
  line-height: 16px;
  height: 32px;
  display: table;
  opacity:0;
}

#accuracy li.visible { opacity:1; }

#accuracy .value {
  color: $beige;
  float: right;
  display: inline-block;
  text-align: right;
  margin-left: 10px;
}

#notes { width: calc(100% - 16px); height: 100%; position:absolute; z-index:2; left: 16px; }


/*******/
.button {
  width:160px;
  height:50px;
  background:$darkGrey;
  color:$beige;
  border-radius:$borderRadius;
  padding-left:16px;
  line-height:50px;
  box-sizing:border-box;
  display:inline-block;
  cursor:pointer;
  text-align:left;
  margin:40px 0 0;
  position:relative;

  transition:letter-spacing .2s ease-out;
}

.button:hover { background:$midGrey; letter-spacing: 1px; }

.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size:24px;
  z-index: 1;

  pointer-events:none;
  opacity:0;

  transition:opacity .2s .4s ease-out;
}

.screen.active {
  pointer-events:auto;
  opacity:1;

  transition:opacity .2s ease-out;
}

.overlay {
  z-index: 9999;
  background: rgba(0,0,0,.95);

  transform:scale(1.2);
  transition:all .2s .4s ease-out;
}

.overlay.active {
  transform:scale(1);

  transition:all .2s ease-out;
}

.screen .container {
  width:1200px;
  height:550px;
  position:absolute;
  left:calc(50% - 1200px/2);
  top:calc(50% - 550px/2);
  padding:0 40px;
  box-sizing:border-box;
}

.screen h1 {
  color: $orange;
  font-size: 80px;
  margin-bottom:80px;
  font-family: 'Oswald-RegularItalic';
  position:relative;

  transform-origin:0 0;
}

#screen_results h1 { margin-bottom:50px; }
.screen p { line-height: 28px; }

.screen .nav li {
  @extend .button;
  margin: 0 50px 0 0;
}

.screen .nav li:last-child { margin-right:0; }

.screen .left, .screen .right { height: calc(100% - 130px); width:calc(50% - 40px); }
.screen .right { text-align:right; }

.screen .panel {
  background: $darkGrey;
  border-radius:$borderRadius;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
}

.screen .panel h2 {
  font-family: "Press Start 2P", cursive;
  text-transform: none;
  text-align: center;
  margin: 15px 0 25px;
  color:$beige;
}

.screen .row { line-height: 24px; position:relative; }
.screen .row span { display:inline-block; position:relative; }
.screen .nb, .screen .points, .screen .percent { text-align: right; }

#screen_loading .percent { width:250px; display:inline-block; }

#screen_highScores .row { line-height: 28px; }
#screen_highScores .label { width: 75px; }
#screen_highScores .date { width: 200px; }
#screen_highScores .points { width: 125px; }
#screen_highScores .percent { width: 95px; }
#screen_highScores .rank { margin-left: 16px; }
#screen_highScores .stars { display:inline-block; width: 150px; text-align: right; }

#screen_howToPlay p { font-size: 22px; margin-bottom:32px; }
#screen_howToPlay ul { display: flex; flex-wrap: wrap; }
#screen_howToPlay li { display: inline-table; width: 33.3333%; cursor:pointer; }
#screen_howToPlay li:nth-child(1), #screen_howToPlay li:nth-child(2), #screen_howToPlay li:nth-child(3) { margin-bottom:16px; }
#screen_howToPlay .note, #screen_howToPlay .label { display: inline-block; }
#screen_howToPlay .note { width: 32px; height: 32px; margin-right:16px; }
#screen_howToPlay .note i { line-height: 1.25em; font-size: 1.25em; }
#screen_howToPlay .label {
  color:$beige;
  font-size:7px;
  font-family: "Press Start 2P", cursive;
  vertical-align: middle;
  height: 100%;
  line-height: 32px;
}

#screen_howToPlay li.pressed .label, #screen_howToPlay li:hover .label { color:$orange; }

.fa-p:before {
  content: "P";
  font-family: Oswald;
  font-weight: 600;
}

#screen_credits .button:after {
  content:"- Thanks for playing!";
  font-family: "Press Start 2P", cursive;
  color:$orange;
  font-size:7px;
  transform:translateY(10px);
  opacity:0;
  position:absolute;
  top: -40px;
  left: 0;
  white-space: nowrap;

  transition:all.2s ease-out;
}

#screen_credits .button:hover:after { transform:translateY(0); opacity:1; }

#screen_results .label { width:40%; }
#screen_results .nb { width: 10%; }
#screen_results .points { width: 25%; }
#screen_results .percent { width: 20%; }
#screen_results #results_totalCompletion { margin-top:14px; }

.screen .newRecord {
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  background: $midGrey;
  color: $orange;
  text-align: center;
  line-height: 28px;
  font-size: 18px;
  left: 48px;
  opacity: 0;

  transition: none;
}

.screen .newRecord:before {
  content:"new record!";
  position:absolute;
  background: $midGrey;
  font-family: "Press Start 2P", cursive;
  color:$beige;
  font-size: 7px;
  width: 90px;
  border-radius: 20px;
  padding-left: 18px;
  height: 20px;
  line-height: 20px;
  top: 4px;
}

.screen .newRecord.visible { left:32px; opacity:1; transition: all .5s ease-out; }

#screen_results .nav { position:absolute; right:40px; bottom:0px; }
.screen .title, .screen .artist { text-transform:none; font-size:32px; position:relative; }
.screen .title { color:$orange; margin-bottom:10px; }
.screen .artist { color:$beige; }

#screen_results .rank { font-family: 'Oswald-RegularItalic'; font-size:60px; color:$beige; margin:150px 0 10px; position:relative; }
.screen .stars { color:$midGrey; position:relative; }
.screen .stars i.on { color:$orange; }

#screen_results .stars { font-size:32px; }
#screen_results .stars i:not(:last-child) { margin-right:4px; }