$orange: #D55320;
$beige: #E1D7CE;
$offWhite: #F8F4F0;
$red:#C32B44;

$lightGrey: #706F6E;
$midGrey: #363535;
$darkGrey: #161515;

$borderRadius:10px;

/*=======================*/
/* MIXINS
/*=======================*/
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@mixin transform($str) {
  -webkit-transform: #{$str};
  -moz-transform: #{$str};
  -ms-transform: #{$str};
  -o-transform: #{$str};
  transform: #{$str};
}

@mixin transition($str) {
  -webkit-transition: -webkit-#{$str};
  -moz-transition: -moz-#{$str};
  -ms-transition: -ms-#{$str};
  -o-transition: -o-#{$str};
  transition: #{$str};
}


/*=======================*/
/* GENERAL RULES
/*=======================*/
body {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  font-family:"Oswald", sans-serif;
  font-weight:100;
  text-transform:uppercase;
  color:$midGrey;
}

::-moz-selection {
  background:  $orange;
  color:       #FFF;
  text-shadow: none;
}

::selection {
  background:  $orange;
  color:       #FFF;
  text-shadow: none;
}

.left { float:left; }
.right { float:right; }

.left:after, .right:after {
  content:"";
  display:table;
  clear:both;
}

#bg {
  width:100%;
  height:100%;
  position:absolute;
  background:$offWhite url("../img/bg.jpg") no-repeat;
  background-size:cover;
}

#container {
  width:100%;
  height:100%;
  position:absolute;
  
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

/*******/
#songInfo {
  width:100%;
  height:150px;
  position:relative;
  padding:40px;
  box-sizing:border-box;
  font-size:30px;
  text-transform:none;
}

#songInfo h1 {
  font-size:36px;
  vertical-align: super;
  display: inline-block;
}

#songInfo h2 { font-size:30px; color:$lightGrey; }


/*******/
#hud {
  width:100%;
  height:180px;
  position:absolute;
  bottom:0;
  padding:0 40px 40px;
  box-sizing:border-box;
  font-size:24px;
}

#lifeSphere {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  overflow:hidden;
  bottom: 40px;
}

#lifeSphere:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: $midGrey 6px solid;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  box-sizing: border-box
}

#lifeSphere .bar {
  width: 100%;
  height: 50%;
  position:absolute;
  bottom: 0;
  background:$midGrey;
}

#lifeSphere.critical:before { @include animation("criticalBorder 2s ease-out infinite"); }
#lifeSphere.critical .bar { @include animation("criticalBG 2s ease-out infinite"); }

@include keyframes(criticalBorder) {
  0%, 100% { border-color:$midGrey; }
  50% { border-color:$red; }
}

@include keyframes(criticalBG) {
  0%, 100% { background:$midGrey; }
  50% { background:$red; }
}

#gameInfo {
  margin-left: 150px;
  height: 120px;
  position: absolute;
  width: calc(100% - 230px);
  bottom: 40px;
}

#life, #progress {
  height:30px;
  margin-top:15px;
}

#progress { display: inline-block; }
#score { display: inline-block; margin-top: -6px; }

#gameInfo .value {
  color:$orange;
  font-weight:500;
  font-size:30px;
  margin-left: 20px;
  text-align: right;
  display:inline-block;
  width:90px;
}

#score .value { font-size:48px; width: 120px; }

#progressBar {
  width:100%;
  height:15px;
  margin-top:15px;
  position:relative;
  border-radius:$borderRadius;
  overflow:hidden;
}

#progressBar:before {
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  background:$midGrey;
}

#progressBar .bar {
  width:0%;
  height:100%;
  position:absolute;
  background:$orange;
}

#progressBar .marker {
  position: absolute;
  height: 100%;
  width: 2px;
  background: $lightGrey;
  z-index:2;

  transition:background .2s ease-out;
}

#progressBar .marker.passed { background: $red; }

#progressBar .marker.p60 { left: 60%; }
#progressBar .marker.p75 { left: 75%; }
#progressBar .marker.p90 { left: 90%; }


/*******/
#main {
  position:relative;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
}

#staff {
  width:calc(100% - 40px);
  height:195px;
  position:absolute;
  right:0;
  top:160px;
}

#lines {
  width:100%;
  height:1px;
  top:16px;
  position:absolute;
  background:#999;
  box-shadow:0  40px 0 #999,
             0  80px 0 #999,
             0 120px 0 #999,
             0 160px 0 #999;
  z-index:2;
}

#keys, #accuracy { z-index:3; position:absolute; }

#keys li, .note {
  border-radius:50%;
  text-align:center;
}

#keys li {
  width:36px;
  height:36px;
  background:#333;
  color:$lightGrey;
  margin-bottom:4px;
}

#keys li.pressed { background:$orange; color:$offWhite; }
#keys i { line-height: 1.5em; font-size:1.5em; }

#accuracy { left:48px; top: -20px; }

#accuracy li {
  font-weight: 400;
  color: $orange;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  background: $midGrey;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 8px;
  line-height: 16px;
  height: 32px;
  display: table;
  opacity:0;
}

#accuracy li.visible {
  opacity:1;
}

#accuracy .value {
  color: $beige;
  float: right;
  display: inline-block;
  text-align: right;
  margin-left: 10px;
}

#notes { width: calc(100% - 16px); height: 100%; position:absolute; z-index:2; left: 16px; }
.note {
  width:32px;
  height:32px;
  background:$offWhite;
  color:$orange;
  position:absolute;
}

.note i { line-height: 1.4em; font-size:1.5em; }

.tiedNote { position: absolute; }
.noteBridge {
  position: absolute;
  height: 10px;
  background: $offWhite;
  margin-top: 12px;
  z-index: -1;
}

.note.up, .noteBridge.up { top:0; }
.note.right, .noteBridge.right { top:40px; }
.note.left, .noteBridge.left { top:80px; }
.note.down, .noteBridge.down { top:120px; }
.note.space, .noteBridge.space { top:160px; }


/*******/
#modalBox {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0,0,0,.9);
  font-weight: 500;
  text-align: center;
}

#modalBox.pause {
  pointer-events:none;
  opacity:0;

  transition:opacity .2s ease-out;
}

#modalBox.pause.open {
  pointer-events:auto;
  opacity:1;
}

#modalBox.pause h1 {
  color: $orange;
  font-size: 126px;
  margin-top: calc(25% - (126px + 48px) / 2);
}

#modalBox.pause h2 {
  color: $offWhite;
  font-size: 24px;
  margin-top: 24px;
}