/*=======================*/
/* MIXINS
/*=======================*/
/*=======================*/
/* FONT FACES
/*=======================*/
@font-face {
  font-family: 'Oswald-RegularItalic';
  src: url("fonts/Oswald-RegularItalic.eot");
  src: url("fonts/Oswald-RegularItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Oswald-RegularItalic.woff2") format("woff2"), url("fonts/Oswald-RegularItalic.woff") format("woff"), url("fonts/Oswald-RegularItalic.ttf") format("truetype"), url("fonts/Oswald-RegularItalic.svg#Oswald-RegularItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
/*=======================*/
/* 12 columns Responsive Grid
/*=======================*/
.row {
  zoom: 1; }

.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after {
  clear: both; }

.device-content {
  width: 960px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.col {
  display: block; }

.col_1 {
  width: 8.33333333%; }

.col_2 {
  width: 16.66666667%; }

.col_3 {
  width: 25%; }

.col_4 {
  width: 33.33333333%; }

.col_5 {
  width: 41.66666667%; }

.col_6 {
  width: 50%; }

.col_7 {
  width: 58.33333333%; }

.col_8 {
  width: 66.66666667%; }

.col_9 {
  width: 75%; }

.col_10 {
  width: 83.33333333%; }

.col_11 {
  width: 91.66666667%; }

.col_12 {
  width: 100%; }

/*=======================*/
/* GENERAL RULES
/*=======================*/
body {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  color: #363535; }

::-moz-selection {
  background: #D55320;
  color: #FFF;
  text-shadow: none; }

::selection {
  background: #D55320;
  color: #FFF;
  text-shadow: none; }

.left {
  float: left; }

.right {
  float: right; }

.left:after, .right:after {
  content: "";
  display: table;
  clear: both; }

#bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #F8F4F0 url("../img/bg.jpg") no-repeat;
  background-size: cover; }

#wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column; }

/*******/
#playScreen {
  position: absolute;
  width: 100%;
  height: 100%; }

/*******/
#songInfo {
  width: 100%;
  height: 150px;
  position: absolute;
  padding: 40px;
  box-sizing: border-box;
  font-size: 30px;
  text-transform: none; }

#songInfo h1 {
  font-size: 36px;
  vertical-align: super;
  display: inline-block; }

#songInfo h2 {
  font-size: 30px;
  color: #706F6E; }

/*******/
#hud {
  width: 100%;
  height: 180px;
  position: absolute;
  bottom: 0;
  padding: 0 40px 40px;
  box-sizing: border-box;
  font-size: 24px; }

#lifeSphere {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  bottom: 40px; }

#lifeSphere:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: #363535 6px solid;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  box-sizing: border-box; }

#lifeSphere .bar {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  background: #363535; }

#lifeSphere.critical:before {
  -webkit-animation: criticalBorder 2s ease-out infinite;
  -moz-animation: criticalBorder 2s ease-out infinite;
  -ms-animation: criticalBorder 2s ease-out infinite;
  -o-animation: criticalBorder 2s ease-out infinite;
  animation: criticalBorder 2s ease-out infinite; }

#lifeSphere.critical .bar {
  -webkit-animation: criticalBG 2s ease-out infinite;
  -moz-animation: criticalBG 2s ease-out infinite;
  -ms-animation: criticalBG 2s ease-out infinite;
  -o-animation: criticalBG 2s ease-out infinite;
  animation: criticalBG 2s ease-out infinite; }

@-webkit-keyframes criticalBorder {
  0%, 100% {
    border-color: #363535; }
  50% {
    border-color: #C32B44; } }
@-moz-keyframes criticalBorder {
  0%, 100% {
    border-color: #363535; }
  50% {
    border-color: #C32B44; } }
@-ms-keyframes criticalBorder {
  0%, 100% {
    border-color: #363535; }
  50% {
    border-color: #C32B44; } }
@-o-keyframes criticalBorder {
  0%, 100% {
    border-color: #363535; }
  50% {
    border-color: #C32B44; } }
@keyframes criticalBorder {
  0%, 100% {
    border-color: #363535; }
  50% {
    border-color: #C32B44; } }
@-webkit-keyframes criticalBG {
  0%, 100% {
    background: #363535; }
  50% {
    background: #C32B44; } }
@-moz-keyframes criticalBG {
  0%, 100% {
    background: #363535; }
  50% {
    background: #C32B44; } }
@-ms-keyframes criticalBG {
  0%, 100% {
    background: #363535; }
  50% {
    background: #C32B44; } }
@-o-keyframes criticalBG {
  0%, 100% {
    background: #363535; }
  50% {
    background: #C32B44; } }
@keyframes criticalBG {
  0%, 100% {
    background: #363535; }
  50% {
    background: #C32B44; } }
#gameInfo {
  margin-left: 150px;
  height: 120px;
  position: absolute;
  width: calc(100% - 230px);
  bottom: 40px; }

#life, #progress {
  height: 30px;
  margin-top: 15px; }

#progress {
  display: inline-block; }

#score {
  display: inline-block;
  margin-top: -6px; }

#gameInfo .value {
  color: #D55320;
  font-weight: 500;
  font-size: 30px;
  margin-left: 20px;
  text-align: right;
  display: inline-block;
  width: 90px; }

#score .value {
  font-size: 48px;
  width: 120px; }

#progressBar {
  width: 100%;
  height: 15px;
  margin-top: 15px;
  position: relative;
  border-radius: 10px;
  overflow: hidden; }

#progressBar:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #363535; }

#progressBar .bar {
  width: 0%;
  height: 100%;
  position: absolute;
  background: #D55320; }

#progressBar .marker {
  position: absolute;
  height: 100%;
  width: 2px;
  background: #706F6E;
  z-index: 2;
  transition: background .2s ease-out; }

#progressBar .marker.passed {
  background: #C32B44; }

#progressBar .marker.p60 {
  left: 60%; }

#progressBar .marker.p75 {
  left: 75%; }

#progressBar .marker.p90 {
  left: 90%; }

/*******/
#staff {
  width: calc(100% - 40px);
  height: 195px;
  position: absolute;
  right: 0;
  top: calc(50% - (195px / 2) - 40px); }

#lines {
  width: 100%;
  height: 1px;
  top: 16px;
  position: absolute;
  background: #999;
  box-shadow: 0  40px 0 #999, 0  80px 0 #999, 0 120px 0 #999, 0 160px 0 #999;
  z-index: 2; }

#keys, #accuracy {
  z-index: 3;
  position: absolute; }

#keys li, .note {
  border-radius: 50%;
  text-align: center; }

#keys li {
  width: 36px;
  height: 36px;
  background: #333;
  color: #706F6E;
  margin-bottom: 4px; }

#keys li.pressed {
  background: #D55320;
  color: #F8F4F0; }

#keys i {
  line-height: 1.5em;
  font-size: 1.5em; }

#accuracy {
  left: 48px;
  top: -20px; }

#accuracy li {
  font-weight: 400;
  color: #D55320;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  background: #363535;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 8px;
  line-height: 16px;
  height: 32px;
  display: table;
  opacity: 0; }

#accuracy li.visible {
  opacity: 1; }

#accuracy .value {
  color: #E1D7CE;
  float: right;
  display: inline-block;
  text-align: right;
  margin-left: 10px; }

/*******/
.button, .screen ul li {
  width: 160px;
  height: 50px;
  background: #161515;
  color: #E1D7CE;
  border-radius: 10px;
  padding-left: 16px;
  line-height: 50px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  transition: letter-spacing .2s ease-out; }

.button:hover, .screen ul li:hover {
  background: #363535;
  letter-spacing: 1px; }

.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.95);
  font-size: 24px; }

.screen {
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s ease-out; }

.screen.open {
  pointer-events: auto;
  opacity: 1; }

.screen .container {
  width: 1200px;
  height: 665px;
  position: absolute;
  left: calc(50% - 1200px/2);
  top: calc(50% - 665px/2);
  padding: 0 40px 40px;
  box-sizing: border-box; }

.screen h1 {
  color: #D55320;
  font-size: 80px;
  margin-bottom: 80px;
  font-family: 'Oswald-RegularItalic'; }

.screen ul li {
  margin-right: 50px; }

.panel {
  background: #161515;
  border-radius: 10px;
  height: calc(100% - 160px); }
