body {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  font-family:"Oswald", sans-serif;
  font-weight:100;
}

.left { float:left; }
.right { float:right; }

.left:after, .right:after {
  content:"";
  display:table;
  clear:both;
}

#bg {
  width:100%;
  height:100%;
  position:absolute;
  background:#f8f4f0 url("../img/bg.jpg") no-repeat;
  background-size:cover;
}

#container {
  width:100%;
  height:100%;
  position:absolute;
  
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

#header {
  width:100%;
  height:150px;
  position:relative;
  background:rgba(0,0,0,.75);
  padding:40px;
  box-sizing:border-box;
  font-size:30px;
}

#songBlock h1 {
  font-size:36px;
  color:#f8f4f0;
  vertical-align: super;
  display: inline-block;
}

#songBlock h2 { font-size:30px; color:#706f6e; }

#scoreInfo { width:210px; text-align:right; }
#currentScore { color:#f8f4f0; vertical-align: super; }
#bestScore { color:#706f6e; }

#scoreValue {
  margin-left:25px;
  color:#d55320;
  font-size: 75px;
  font-weight: 500;
}

#main {
  position:relative;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
}

#staff {
  width:calc(100% - 40px);
  height:195px;
  position:absolute;
  right:0;
  top:160px;
}

#lines {
  width:100%;
  height:1px;
  top:16px;
  position:absolute;
  background:#999;
  box-shadow:0  40px 0 #999,
             0  80px 0 #999,
             0 120px 0 #999,
             0 160px 0 #999;
  z-index:2;
}

#keys { z-index:3; position:absolute; }

#keys li, .note {
  border-radius:50%;
  text-align:center;
}

#keys li {
  width:36px;
  height:36px;
  background:#333;
  color:#706f6e;
  margin-bottom:4px;
}

#keys li.pressed { background:#d55320; color:#f8f4f0; }
#keys i { line-height: 1.5em; font-size:1.5em; }

#notes { width: 100%; height: 100%; position:absolute; z-index:2; }
.note {
  width:32px;
  height:32px;
  background:#f8f4f0;
  color:#d55320;
  position:absolute;
}

.note i { line-height: 1.4em; font-size:1.5em; }

.tiedNote { position: absolute; }
.noteBridge {
  position: absolute;
  height: 10px;
  background: #f8f4f0;
  margin-top: 12px;
  z-index: -1;
}

.note.up, .noteBridge.up { top:0; }
.note.right, .noteBridge.right { top:40px; }
.note.left, .noteBridge.left { top:80px; }
.note.down, .noteBridge.down { top:120px; }
.note.space, .noteBridge.space { top:160px; }