/*=======================*/
/* VARIABLES, FUNCTIONS
/*=======================*/
/*=======================*/
/* MIXINS
/*=======================*/
/*=======================*/
/* FONT FACES
/*=======================*/
@font-face {
  font-family: 'Oswald-RegularItalic';
  src: url("fonts/Oswald-RegularItalic.eot");
  src: url("fonts/Oswald-RegularItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Oswald-RegularItalic.woff2") format("woff2"), url("fonts/Oswald-RegularItalic.woff") format("woff"), url("fonts/Oswald-RegularItalic.ttf") format("truetype"), url("fonts/Oswald-RegularItalic.svg#Oswald-RegularItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
/*=======================*/
/* 12 COLUMNS RESPONSIVE GRID
/*=======================*/
.row {
  zoom: 1; }

.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after {
  clear: both; }

.col {
  display: block; }

.col_1 {
  width: 8.33333333%; }

.col_2 {
  width: 16.66666667%; }

.col_3 {
  width: 25%; }

.col_4 {
  width: 33.33333333%; }

.col_5 {
  width: 41.66666667%; }

.col_6 {
  width: 50%; }

.col_7 {
  width: 58.33333333%; }

.col_8 {
  width: 66.66666667%; }

.col_9 {
  width: 75%; }

.col_10 {
  width: 83.33333333%; }

.col_11 {
  width: 91.66666667%; }

.col_12 {
  width: 100%; }

/*=======================*/
/* GENERAL RULES
/*=======================*/
html, body {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  text-transform: uppercase;
  color: #363535; }

button {
  width: 10vw;
  height: 3.125vw;
  background: #161515;
  color: #E1D7CE;
  border: none;
  outline: none;
  border-radius: 0.625vw;
  padding-left: 1vw;
  line-height: 3.125vw;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  text-align: left;
  margin: 2.5vw 0 0;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  -webkit-transition: -webkit-letter-spacing .2s ease-out;
  -moz-transition: -moz-letter-spacing .2s ease-out;
  -ms-transition: -ms-letter-spacing .2s ease-out;
  -o-transition: -o-letter-spacing .2s ease-out;
  transition: letter-spacing .2s ease-out; }

button:hover {
  background: #363535;
  letter-spacing: 1px; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: #D55320; }

hr {
  border: none;
  background: #363535;
  height: 1px; }

::-moz-selection {
  background: #D55320;
  color: #E1D7CE;
  text-shadow: none; }

::selection {
  background: #D55320;
  color: #E1D7CE;
  text-shadow: none; }

/*=======================*/
/* TOOLBOX
/*=======================*/
.left {
  float: left; }

.right {
  float: right; }

.left:after, .right:after {
  content: "";
  display: table;
  clear: both; }

.beige {
  color: #E1D7CE; }

.orange {
  color: #D55320; }

.midGrey {
  color: #363535; }

/*=======================*/
/* ROOT CONTAINERS
/*=======================*/
#wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column; }

#bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #F8F4F0 url("../img/bg.jpg") no-repeat;
  background-size: cover;
  z-index: 0; }

#audioVisualizer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

/*=======================*/
/* SCREENS
/*=======================*/
.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.25vw;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: -webkit-opacity .2s .4s ease-out;
  -moz-transition: -moz-opacity .2s .4s ease-out;
  -ms-transition: -ms-opacity .2s .4s ease-out;
  -o-transition: -o-opacity .2s .4s ease-out;
  transition: opacity .2s .4s ease-out; }

.screen.active {
  pointer-events: auto;
  opacity: 1;
  -webkit-transition: -webkit-opacity .2s ease-out;
  -moz-transition: -moz-opacity .2s ease-out;
  -ms-transition: -ms-opacity .2s ease-out;
  -o-transition: -o-opacity .2s ease-out;
  transition: opacity .2s ease-out; }

.overlay {
  z-index: 9999;
  background: rgba(0, 0, 0, 0.95);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: -webkit-all .2s .4s ease-out;
  -moz-transition: -moz-all .2s .4s ease-out;
  -ms-transition: -ms-all .2s .4s ease-out;
  -o-transition: -o-all .2s .4s ease-out;
  transition: all .2s .4s ease-out; }

.overlay.active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-all .2s ease-out;
  -moz-transition: -moz-all .2s ease-out;
  -ms-transition: -ms-all .2s ease-out;
  -o-transition: -o-all .2s ease-out;
  transition: all .2s ease-out; }

.screen .container {
  width: 75vw;
  height: 34.375vw;
  position: absolute;
  left: calc(50% - 75vw / 2);
  top: calc(50% - 34.375vw /2);
  padding: 0 2.5vw;
  box-sizing: border-box; }

/* iOS 7 calc() fix */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .screen .container {
    left: 5.5vw;
    top: 6.8125vw; } }
.screen h1 {
  color: #D55320;
  font-size: 5vw;
  margin-bottom: 1em;
  font-family: 'Oswald-RegularItalic';
  position: relative;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0; }

.screen p {
  line-height: 1.25em; }

.screen nav button {
  margin: 0 3.125vw 0 0; }

.screen nav button:last-child {
  margin-right: 0; }

.screen .leftSide, .screen .rightSide {
  height: calc(100% - 8.125vw);
  width: calc(50% - 2.5vw); }

.screen .rightSide {
  text-align: right; }

/* iOS 7 calc() fix */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .screen .leftSide, .screen .rightSide {
    height: 39.875vw;
    width: 29.5vw; } }
.screen .panel {
  background: #161515;
  border-radius: 0.625vw;
  padding: 0.625vw;
  box-sizing: border-box;
  font-size: 1.1875vw; }

.screen .panel h2 {
  font-family: "Press Start 2P", cursive;
  text-transform: none;
  text-align: center;
  margin: 0.9375vw 0 1.5625vw;
  color: #E1D7CE; }

.screen .row {
  line-height: 1.25em;
  position: relative; }

.screen .row span {
  display: inline-block;
  position: relative; }

.screen .nb, .screen .points, .screen .percent {
  text-align: right; }

.screen .title, .screen .artist {
  text-transform: none;
  font-size: 2vw;
  position: relative; }

.screen .title {
  color: #D55320;
  margin-bottom: 0.625vw; }

.screen .artist {
  color: #E1D7CE; }

.screen .stars {
  color: #363535;
  position: relative; }

.screen .stars i.on {
  color: #D55320; }

/*=======================*/
/* PLAY SCREEN
/*=======================*/
/* TOP SECTION --------------*/
#songInfo {
  width: 100%;
  height: 150px;
  position: absolute;
  padding: 2.5vw;
  box-sizing: border-box;
  font-size: 1.875vw;
  text-transform: none; }

#songInfo .title {
  font-size: 2.25vw;
  vertical-align: super;
  display: inline-block; }

#songInfo .artist {
  font-size: 1.875vw;
  color: #706F6E; }

#songInfo .pauseSwitch {
  position: absolute;
  right: 2.5vw;
  top: 2.5vw;
  line-height: 36px;
  z-index: 10; }

html:not(.isMobile) #songInfo .pauseSwitch {
  display: none; }

/* BOTTOM SECTION --------------*/
#hud {
  width: 100%;
  height: 11.25vw;
  position: absolute;
  bottom: 0;
  padding: 0 2.5vw 2.5vw;
  box-sizing: border-box;
  font-size: 1.375vw; }

#lifeSphere {
  width: 7.5vw;
  height: 7.5vw;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  bottom: 2.5vw;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

#lifeSphere:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: #363535 0.375vw solid;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  -webkit-transition: -webkit-border-color .2s ease-out;
  -moz-transition: -moz-border-color .2s ease-out;
  -ms-transition: -ms-border-color .2s ease-out;
  -o-transition: -o-border-color .2s ease-out;
  transition: border-color .2s ease-out; }

#lifeSphere.drop:before {
  border-color: #C32B44; }

#lifeSphere .bar {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  background: #363535;
  -webkit-transition: -webkit-background .2s ease-out;
  -moz-transition: -moz-background .2s ease-out;
  -ms-transition: -ms-background .2s ease-out;
  -o-transition: -o-background .2s ease-out;
  transition: background .2s ease-out; }

#lifeSphere.drop .bar {
  background: #C32B44; }

#lifeSphere.critical:before {
  -webkit-animation: criticalBorder 2s ease-out infinite;
  -moz-animation: criticalBorder 2s ease-out infinite;
  -ms-animation: criticalBorder 2s ease-out infinite;
  -o-animation: criticalBorder 2s ease-out infinite;
  animation: criticalBorder 2s ease-out infinite; }

#lifeSphere.critical .bar {
  -webkit-animation: criticalBG 2s ease-out infinite;
  -moz-animation: criticalBG 2s ease-out infinite;
  -ms-animation: criticalBG 2s ease-out infinite;
  -o-animation: criticalBG 2s ease-out infinite;
  animation: criticalBG 2s ease-out infinite; }

@-webkit-keyframes criticalBorder {
  0%, 100% {
    border-color: #363535; }
  50% {
    border-color: #C32B44; } }
@-moz-keyframes criticalBorder {
  0%, 100% {
    border-color: #363535; }
  50% {
    border-color: #C32B44; } }
@-ms-keyframes criticalBorder {
  0%, 100% {
    border-color: #363535; }
  50% {
    border-color: #C32B44; } }
@-o-keyframes criticalBorder {
  0%, 100% {
    border-color: #363535; }
  50% {
    border-color: #C32B44; } }
@keyframes criticalBorder {
  0%, 100% {
    border-color: #363535; }
  50% {
    border-color: #C32B44; } }
@-webkit-keyframes criticalBG {
  0%, 100% {
    background: #363535; }
  50% {
    background: #C32B44; } }
@-moz-keyframes criticalBG {
  0%, 100% {
    background: #363535; }
  50% {
    background: #C32B44; } }
@-ms-keyframes criticalBG {
  0%, 100% {
    background: #363535; }
  50% {
    background: #C32B44; } }
@-o-keyframes criticalBG {
  0%, 100% {
    background: #363535; }
  50% {
    background: #C32B44; } }
@keyframes criticalBG {
  0%, 100% {
    background: #363535; }
  50% {
    background: #C32B44; } }
#gameInfo {
  margin-left: 9.375vw;
  height: 7.5vw;
  position: absolute;
  width: calc(100% - 14.375vw);
  bottom: 2.5vw;
  color: #363535;
  -webkit-transition: -webkit-color .4s ease-out;
  -moz-transition: -moz-color .4s ease-out;
  -ms-transition: -ms-color .4s ease-out;
  -o-transition: -o-color .4s ease-out;
  transition: color .4s ease-out; }

/* iOS 7 calc() fix */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  #gameInfo {
    width: 85.625vw; } }
#screen_play.ready #gameInfo {
  color: #E1D7CE; }

#gameInfo > div {
  position: relative;
  white-space: nowrap; }

#life, #progress {
  height: 1.875vw;
  margin-top: 0.9375vw; }

#progress, #score {
  display: inline-block; }

#score {
  margin-top: -0.375vw; }

#gameInfo .value {
  color: #D55320;
  font-weight: 500;
  font-size: 1.875vw;
  margin-left: 1.25vw;
  text-align: right;
  display: inline-block;
  width: 5.625vw;
  white-space: nowrap; }

#score .value {
  font-size: 3vw;
  width: 7.5vw; }

#progressBar {
  width: 100%;
  height: 0.9375vw;
  margin-top: 0.9375vw;
  border-radius: 0.625vw;
  overflow: hidden; }

#progressBar:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #363535; }

#progressBar .bar {
  width: 0%;
  height: 100%;
  position: absolute;
  background: #D55320; }

#progressBar .marker {
  position: absolute;
  height: 100%;
  width: 2px;
  background: #706F6E;
  z-index: 2;
  -webkit-transition: -webkit-background .2s ease-out;
  -moz-transition: -moz-background .2s ease-out;
  -ms-transition: -ms-background .2s ease-out;
  -o-transition: -o-background .2s ease-out;
  transition: background .2s ease-out; }

#progressBar .marker.passed {
  background: #363535; }

#progressBar .marker.p60 {
  left: 60%; }

#progressBar .marker.p75 {
  left: 75%; }

#progressBar .marker.p90 {
  left: 90%; }

/* STAFF --------------*/
#staff {
  width: calc(100% - 2.5vw);
  height: 195px;
  position: absolute;
  right: 0;
  top: calc(50% - (195px / 2) - (12.1875vw / 3)); }

/* iOS 7 calc() fix */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  #staff {
    width: 97.5vw;
    top: 13.84375vw; } }
#lines {
  width: 100%;
  height: 1px;
  top: 16px;
  position: absolute;
  background: #999;
  box-shadow: 0  40px 0 #999, 0  80px 0 #999, 0 120px 0 #999, 0 160px 0 #999;
  z-index: 2; }

#keys, #accuracy {
  z-index: 3;
  position: absolute; }

#keys li, .icon, .pauseSwitch {
  width: 36px;
  height: 36px;
  background: #333;
  color: #706F6E;
  margin-bottom: 4px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  cursor: pointer; }

.icon {
  width: 2vw;
  height: 2vw;
  font-size: 1.25vw; }

#keys li.pressed, li.pressed .icon, .pauseSwitch:hover {
  background: #D55320;
  color: #F8F4F0; }

#keys i {
  line-height: 1.5em;
  font-size: 1.5em; }

.icon i {
  line-height: 1.25em;
  font-size: 1.25em; }

#accuracy {
  left: 48px;
  top: -20px; }

#accuracy li {
  font-weight: 400;
  color: #D55320;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  background: #363535;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 8px;
  line-height: 16px;
  height: 32px;
  display: table;
  opacity: 0; }

#accuracy li.visible {
  opacity: 1; }

#accuracy .value {
  color: #E1D7CE;
  float: right;
  display: inline-block;
  text-align: right;
  margin-left: 10px; }

#notes {
  width: calc(100% - 16px);
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 16px; }

/* iOS 7 calc() fix */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  #notes {
    width: 1008px; } }
/*=======================*/
/* OTHER SCREENS
/*=======================*/
/* LOADING SCREEN --------------*/
#screen_loading .percent {
  width: 18.75vw;
  display: inline-block; }

html:not(.isPhone) #screen_loading .phone {
  display: none; }

html.isPhone #screen_loading .container:not(.phone) {
  display: none; }

#screen_loading .phone p {
  font-size: 2.25vw; }

#screen_loading .phone p span {
  font-family: "Press Start 2P", cursive;
  color: #D55320;
  font-size: 1.375vw; }

/* HIGH SCORES SCREEN --------------*/
#screen_highScores .label {
  width: 4.6875vw; }

#screen_highScores .date {
  width: 12.5vw; }

#screen_highScores .points {
  width: 7.8125vw; }

#screen_highScores .percent {
  width: 5.9375vw; }

#screen_highScores .rank {
  margin-left: 1vw; }

#screen_highScores .stars {
  display: inline-block;
  width: 9.375vw;
  text-align: right; }

/* HOW TO PLAY SCREEN --------------*/
#screen_howToPlay p {
  font-size: 1.25vw;
  margin-bottom: 2vw; }

#screen_howToPlay ul {
  display: flex;
  flex-wrap: wrap; }

#screen_howToPlay li {
  display: inline-table;
  width: 33.3333%;
  cursor: pointer; }

#screen_howToPlay li:nth-child(1), #screen_howToPlay li:nth-child(2), #screen_howToPlay li:nth-child(3) {
  margin-bottom: 1vw; }

#screen_howToPlay .icon, #screen_howToPlay .label {
  display: inline-block; }

#screen_howToPlay .icon {
  margin-right: 1vw; }

#screen_howToPlay li:hover .icon {
  background: #D55320;
  color: #F8F4F0; }

#screen_howToPlay .label {
  color: #E1D7CE;
  font-size: 0.4375vw;
  font-family: "Press Start 2P", cursive;
  vertical-align: middle;
  height: 100%;
  line-height: 2vw; }

#screen_howToPlay li.pressed .label, #screen_howToPlay li:hover .label {
  color: #D55320; }

.fa-p:before {
  content: "P";
  font-family: Oswald;
  font-weight: 600; }

/* CREDITS SCREEN --------------*/
#screen_credits button:after {
  content: "- Thanks for playing!";
  font-family: "Press Start 2P", cursive;
  color: #D55320;
  font-size: 0.4375vw;
  opacity: 0;
  position: absolute;
  top: -2.5vw;
  left: 0;
  white-space: nowrap;
  -webkit-transform: translateY(0.625vw);
  -moz-transform: translateY(0.625vw);
  -ms-transform: translateY(0.625vw);
  -o-transform: translateY(0.625vw);
  transform: translateY(0.625vw);
  -webkit-transition: -webkit-all.2s ease-out;
  -moz-transition: -moz-all.2s ease-out;
  -ms-transition: -ms-all.2s ease-out;
  -o-transition: -o-all.2s ease-out;
  transition: all.2s ease-out; }

#screen_credits button:hover:after {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1; }

/* RESULTS SCREEN --------------*/
#screen_results h1 {
  margin-bottom: 3.125vw; }

#screen_results .label {
  width: 40%; }

#screen_results .nb {
  width: 10%; }

#screen_results .points {
  width: 25%; }

#screen_results .percent {
  width: 20%; }

#screen_results #results_totalCompletion {
  margin-top: 0.875vw; }

#screen_results .newRecord {
  width: 1.75vw;
  height: 1.75vw;
  position: absolute;
  border-radius: 50%;
  background: #363535;
  color: #D55320;
  text-align: center;
  line-height: 1.75vw;
  font-size: 1.125vw;
  margin-left: 3vw;
  opacity: 0;
  -webkit-transition: -webkit-none;
  -moz-transition: -moz-none;
  -ms-transition: -ms-none;
  -o-transition: -o-none;
  transition: none; }

#screen_results .newRecord:before {
  content: "new record!";
  position: absolute;
  background: #363535;
  font-family: "Press Start 2P", cursive;
  color: #E1D7CE;
  font-size: 0.4375vw;
  width: 5.625vw;
  border-radius: 1.25vw;
  padding-left: 1.125vw;
  height: 1.25vw;
  line-height: 1.25vw;
  top: 0.25vw; }

#screen_results .newRecord.visible {
  margin-left: 2vw;
  opacity: 1;
  -webkit-transition: -webkit-all .5s ease-out;
  -moz-transition: -moz-all .5s ease-out;
  -ms-transition: -ms-all .5s ease-out;
  -o-transition: -o-all .5s ease-out;
  transition: all .5s ease-out; }

#screen_results nav {
  position: absolute;
  right: 2.5vw;
  bottom: 0; }

#screen_results .rank {
  font-family: 'Oswald-RegularItalic';
  font-size: 3.75vw;
  color: #E1D7CE;
  margin: 9.375vw 0 0.625vw;
  position: relative; }

#screen_results .stars {
  font-size: 2vw; }

#screen_results .stars i:not(:last-child) {
  margin-right: 0.25vw; }
