/*=======================*/
/* VARIABLES, FUNCTIONS
/*=======================*/
$browserContext:16px;
$iPadInnerWidth:928px;
$iPadInnerHeight:672px;

@function toEm($pixels, $context: $browserContext) {
  @if (unitless($pixels)) { $pixels: $pixels * 1px; }
  @if (unitless($context)) { $context: $context * 1px; }

  @return $pixels / $context * 1em;
}

@function toVw($pixels, $width: $iPadInnerWidth) {
  @if (unitless($pixels)) { $pixels: $pixels * 1px; }
  @if (unitless($width)) { $context: $width * 1px; }
  $newValue : $pixels / $width * 100;

  @return $newValue * 1vw;
}

@function vwForEm($pixels) {
  @if (unitless($pixels)) { $pixels: $pixels * 1px; }
  $newValue : toEm($pixels) / 1em;

  @return $newValue * 1vw;
}

$orange: #D55320;
$beige: #E1D7CE;
$offWhite: #F8F4F0;
$red: #C32B44;
$lightGrey: #706F6E;
$midGrey: #363535;
$darkGrey: #161515;
$borderRadius: vwForEm(10px);

$fontSize7px:  vwForEm(7);
$fontSize10px: vwForEm(10);
$fontSize18px: vwForEm(18);
$fontSize19px: vwForEm(19);
$fontSize20px: vwForEm(20);
$fontSize22px: vwForEm(22);
$fontSize30px: vwForEm(30);
$fontSize32px: vwForEm(32);
$fontSize36px: vwForEm(36);
$fontSize48px: vwForEm(48);
$fontSize60px: vwForEm(60);
$fontSize80px: vwForEm(80);


/*=======================*/
/* MIXINS
/*=======================*/
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@mixin transform($str) {
  -webkit-transform: #{$str};
  -moz-transform: #{$str};
  -ms-transform: #{$str};
  -o-transform: #{$str};
  transform: #{$str};
}

@mixin transition($str) {
  -webkit-transition: -webkit-#{$str};
  -moz-transition: -moz-#{$str};
  -ms-transition: -ms-#{$str};
  -o-transition: -o-#{$str};
  transition: #{$str};
}


/*=======================*/
/* FONT FACES
/*=======================*/
@font-face {
  font-family: 'Oswald-RegularItalic';
  src: url('fonts/Oswald-RegularItalic.eot');
  src: url('fonts/Oswald-RegularItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/Oswald-RegularItalic.woff2') format('woff2'),
       url('fonts/Oswald-RegularItalic.woff') format('woff'),
       url('fonts/Oswald-RegularItalic.ttf') format('truetype'),
       url('fonts/Oswald-RegularItalic.svg#Oswald-RegularItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*=======================*/
/* 12 COLUMNS RESPONSIVE GRID
/*=======================*/
.row { zoom: 1; }
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.row:after { clear: both; }
.col { display: block; }
.col_1 { width: 8.33333333%; }
.col_2 { width: 16.66666667%; }
.col_3 { width: 25%; }
.col_4 { width: 33.33333333%; }
.col_5 { width: 41.66666667%; }
.col_6 { width: 50%; }
.col_7 { width: 58.33333333%; }
.col_8 { width: 66.66666667%; }
.col_9 { width: 75%; }
.col_10 { width: 83.33333333%; }
.col_11 { width: 91.66666667%; }
.col_12 { width: 100%; }


/*=======================*/
/* GENERAL RULES
/*=======================*/
html, body {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  font-family:"Oswald", sans-serif;
  font-weight:100;
  font-size:1rem;
  text-transform:uppercase;
  color:$midGrey;
}

button {
  width:vwForEm(160px);
  height:vwForEm(50px);
  background:$darkGrey;
  color:$beige;
  border:none;
  outline: none;
  border-radius:$borderRadius;
  padding-left:vwForEm(16px);
  line-height:vwForEm(50px);
  box-sizing:border-box;
  display:inline-block;
  cursor:pointer;
  text-align:left;
  margin:vwForEm(40px) 0 0;
  position:relative;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;

  @include transition("letter-spacing .2s ease-out");
}

button:hover { background:$midGrey; letter-spacing: 1px; }

a { color: inherit; text-decoration: none; }
a:hover { color:$orange; }
hr { border: none; background: $midGrey; height: 1px; }

::-moz-selection {
  background:  $orange;
  color:       $beige;
  text-shadow: none;
}

::selection {
  background:  $orange;
  color:       $beige;
  text-shadow: none;
}


/*=======================*/
/* TOOLBOX
/*=======================*/
.left { float:left; }
.right { float:right; }

.left:after, .right:after {
  content:"";
  display:table;
  clear:both;
}

.beige { color:$beige; }
.orange { color:$orange; }
.midGrey { color:$midGrey; }


/*=======================*/
/* ROOT CONTAINERS
/*=======================*/
#wrapper {
  width:100%;
  height:100%;
  position:absolute;
  z-index:1;
  
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

#bg {
  width:100%;
  height:100%;
  position:absolute;
  background:$offWhite url("../img/bg.jpg") no-repeat;
  background-size:cover;
  z-index: 0;
}

#audioVisualizer { position:absolute; width:100%; height:100%; top:0; left:0; }


/*=======================*/
/* SCREENS
/*=======================*/
.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size:$fontSize20px;
  z-index: 1;

  pointer-events:none;
  opacity:0;

  @include transition("opacity .2s .4s ease-out");
}

.screen.active {
  pointer-events:auto;
  opacity:1;

  @include transition("opacity .2s ease-out");
}

.overlay {
  z-index: 9999;
  background: rgba(0,0,0,.95);

  @include transform("scale(1.2)");
  @include transition("all .2s .4s ease-out");
}

.overlay.active {
  @include transform("scale(1)");
  @include transition("all .2s ease-out");
}

.screen .container {
  width:vwForEm(1200px);
  height:vwForEm(550px);
  position:absolute;
  left:calc(50% - #{vwForEm(1200px)} / 2);
  top:calc(50% - #{vwForEm(550px)} /2);
  padding:0 vwForEm(40px);
  box-sizing:border-box;
}

/* iOS 7 calc() + vw fix */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

  .screen .container {
    left: #{50vw - vwForEm(1200px) / 2};
    top: #{toVw(672px / 2) - vwForEm(550px) / 2};
  }
}

/* iOS 7 calc() + vw fix */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

  .screen .container {
    left: #{50vw - vwForEm(1200px) / 2};
    top: #{toVw(928px / 2, $iPadInnerHeight) - vwForEm(550px) / 2};
  }
}

.screen h1 {
  color: $orange;
  font-size: $fontSize80px;
  margin-bottom:1em;
  font-family: 'Oswald-RegularItalic';
  position:relative;

  -webkit-transform-origin:0 0;
  -moz-transform-origin:0 0;
  -ms-transform-origin:0 0;
  -o-transform-origin:0 0;
  transform-origin:0 0;
}

.screen p { line-height: 1.25em; }

.screen nav button { margin: 0 vwForEm(50px) 0 0; }
.screen nav button:last-child { margin-right:0; }

.screen .leftSide, .screen .rightSide { width:calc(50% - #{vwForEm(40px)}); height: calc(100% - #{vwForEm(130px)}); position: relative; }
.screen .rightSide { text-align:right; }

/* iOS 7 calc() + vw fix */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .screen .leftSide, .screen .rightSide {
    width: #{vwForEm(1200px) / 2 - vwForEm(40px)};
    height: #{vwForEm(550px) - vwForEm(130px)};
  }
}

.screen .panel {
  background: $darkGrey;
  border-radius:$borderRadius;
  padding: vwForEm(10px);
  box-sizing: border-box;
  font-size: $fontSize19px;
}

.screen .panel h2 {
  font-family: "Press Start 2P", cursive;
  text-transform: none;
  text-align: center;
  margin: vwForEm(15px) 0 vwForEm(25px);
  color:$beige;
}

.screen .row { line-height: 1.25em; position:relative; }
.screen .row span { display:inline-block; position:relative; }
.screen .nb, .screen .points, .screen .percent { text-align: right; }

.screen .title, .screen .artist { text-transform:none; font-size:$fontSize32px; position:relative; }
.screen .title { color:$orange; margin-bottom:vwForEm(10px); }
.screen .artist { color:$beige; }
.screen .stars { color:$midGrey; position:relative; }
.screen .stars i.on { color:$orange; }


/*=======================*/
/* PLAY SCREEN
/*=======================*/
/* TOP SECTION --------------*/
#songInfo {
  width:100%;
  height:150px;
  position:absolute;
  padding:vwForEm(40px);
  box-sizing:border-box;
  font-size:$fontSize30px;
  text-transform:none;
}

#songInfo .title {
  font-size:$fontSize36px;
  vertical-align: super;
  display: inline-block;
}

#songInfo .artist { font-size:$fontSize30px; color:$lightGrey; }

#songInfo .pauseSwitch {
  position:absolute;
  right:vwForEm(40px);
  top:vwForEm(40px);
  line-height:36px;
  z-index: 10;
}

html:not(.isMobile) #songInfo .pauseSwitch { display:none; }

/* BOTTOM SECTION --------------*/
#hud {
  width:100%;
  height:vwForEm(180px);
  position:absolute;
  bottom:0;
  padding:0 vwForEm(40px) vwForEm(40px);
  box-sizing:border-box;
  font-size:$fontSize22px;
}

#lifeSphere {
  width: vwForEm(120px);
  height: vwForEm(120px);
  border-radius: 50%;
  position: absolute;
  overflow:hidden;
  bottom: vwForEm(40px);

  @include transform("scale(1)");
}

#lifeSphere:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: $midGrey vwForEm(6px) solid;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  box-sizing: border-box;

  @include transition("border-color .2s ease-out");
}

#lifeSphere.drop:before { border-color:$red; }

#lifeSphere .bar {
  width: 100%;
  height: 50%;
  position:absolute;
  bottom: 0;
  background:$midGrey;

  @include transition("background .2s ease-out");
}

#lifeSphere.drop .bar { background:$red; }
#lifeSphere.critical:before { @include animation("criticalBorder 2s ease-out infinite"); }
#lifeSphere.critical .bar { @include animation("criticalBG 2s ease-out infinite"); }

@include keyframes(criticalBorder) {
  0%, 100% { border-color:$midGrey; }
  50% { border-color:$red; }
}

@include keyframes(criticalBG) {
  0%, 100% { background:$midGrey; }
  50% { background:$red; }
}

#gameInfo {
  margin-left: vwForEm(150px);
  height: vwForEm(120px);
  position: absolute;
  width: calc(100% - #{vwForEm(230px)});
  bottom: vwForEm(40px);
  color:$midGrey;

  @include transition("color .4s ease-out");
}

/* iOS 7 calc() + vw fix */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

  #gameInfo { width: #{100vw - vwForEm(230px)}; }
}

#screen_play.ready #gameInfo { color:$beige; }

#gameInfo > div { position:relative; white-space: nowrap; }

#life, #progress { height:vwForEm(30px); margin-top:vwForEm(15px); }
#progress, #score { display: inline-block; }
#score { margin-top: vwForEm(-6px); width:125px; }

#gameInfo .value {
  color:$orange;
  font-weight:500;
  font-size:$fontSize30px;
  margin-left: vwForEm(20px);
  text-align: right;
  display:inline-block;
  width:vwForEm(90px);
  white-space:nowrap;
}

#score .value { font-size:$fontSize48px; width: vwForEm(120px); }

#progressBar {
  width:100%;
  height:vwForEm(15px);
  margin-top:vwForEm(15px);
  border-radius:$borderRadius;
  overflow:hidden;
}

#progressBar:before {
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  background:$midGrey;
}

#progressBar .bar {
  width:0%;
  height:100%;
  position:absolute;
  background:$orange;
}

#progressBar .marker {
  position: absolute;
  height: 100%;
  width: 2px;
  background: $lightGrey;
  z-index:2;

  @include transition("background .2s ease-out");
}

#progressBar .marker.passed { background: $midGrey; }
#progressBar .marker.p60 { left: 60%; }
#progressBar .marker.p75 { left: 75%; }
#progressBar .marker.p90 { left: 90%; }


/* STAFF --------------*/
#staff {
  width:calc(100% - 40px);
  height:195px;
  position:absolute;
  right:0;
  top:calc(50% - 195px);
}

#lines {
  width:100%;
  height:1px;
  top:16px;
  position:absolute;
  background:#999;
  box-shadow:0  40px 0 #999,
             0  80px 0 #999,
             0 120px 0 #999,
             0 160px 0 #999;
  z-index:2;
}

#keys, #accuracy { z-index:3; position:absolute; }

#keys li, .icon, .pauseSwitch {
  width:36px;
  height:36px;
  background:#333;
  color:$lightGrey;
  margin-bottom:4px;
  border-radius:50%;
  text-align:center;
  font-size:16px;
  cursor:pointer;
}

.icon { width:vwForEm(32px); height:vwForEm(32px); font-size: $fontSize20px; }

#keys li.pressed, li.pressed .icon, .pauseSwitch:hover { background:$orange; color:$offWhite; }
#keys i { line-height: 1.5em; font-size:1.5em; }
.icon i { line-height: 1.25em; font-size: 1.25em; }

#accuracy { left:48px; top: -20px; }

#accuracy li {
  font-weight: 400;
  color: $orange;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  background: $midGrey;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 8px;
  line-height: 16px;
  height: 32px;
  display: table;
  opacity:0;
}

#accuracy li.visible { opacity:1; }

#accuracy .value {
  color: $beige;
  float: right;
  display: inline-block;
  text-align: right;
  margin-left: 10px;
}

#notes { width: calc(100% - 16px); height: 100%; position:absolute; z-index:2; left: 16px; }


/*=======================*/
/* OTHER SCREENS
/*=======================*/
/* LOADING SCREEN --------------*/
#screen_loading .percent { width:vwForEm(300px); display:inline-block; transition:width .3s 1.2s ease-out; }
#screen_loading.complete .percent { width:vwForEm(410px); transition:width .3s ease-out; }

html:not(.isPhone) #screen_loading .phone { display:none }
html.isPhone #screen_loading .container:not(.phone) { display:none }

#screen_loading .phone p { font-size:$fontSize36px; }
#screen_loading .phone p span { font-family: "Press Start 2P", cursive; color:$orange; font-size:$fontSize22px; }

/* HIGH SCORES SCREEN --------------*/
#screen_highScores .label { width: vwForEm(75px); }
#screen_highScores .date { width: vwForEm(200px); }
#screen_highScores .points { width: vwForEm(125px); }
#screen_highScores .percent { width: vwForEm(95px); }
#screen_highScores .rank { margin-left: vwForEm(16px); }
#screen_highScores .stars { display:inline-block; width: vwForEm(150px); text-align: right; }

/* HOW TO PLAY SCREEN --------------*/
#screen_howToPlay p { font-size: $fontSize20px; margin-bottom:vwForEm(32px); }
#screen_howToPlay ul { display: flex; flex-wrap: wrap; }
#screen_howToPlay li { display: inline-table; width: 33.3333%; cursor:pointer; }
#screen_howToPlay li:nth-child(1), #screen_howToPlay li:nth-child(2), #screen_howToPlay li:nth-child(3) { margin-bottom:vwForEm(16px); }
#screen_howToPlay .icon, #screen_howToPlay .label { display: inline-block; }
#screen_howToPlay .icon { margin-right:vwForEm(16px); }
#screen_howToPlay li:hover .icon { background:$orange; color:$offWhite; }
#screen_howToPlay .label {
  color:$beige;
  font-size:$fontSize7px;
  font-family: "Press Start 2P", cursive;
  vertical-align: middle;
  height: 100%;
  line-height: vwForEm(32px);
}

#screen_howToPlay li.pressed .label, #screen_howToPlay li:hover .label { color:$orange; }

.fa-p:before {
  content: "P";
  font-family: Oswald;
  font-weight: 600;
}

/* CREDITS SCREEN --------------*/
#screen_credits button:after {
  content:"- Thanks for playing!";
  font-family: "Press Start 2P", cursive;
  color:$orange;
  font-size:$fontSize7px;
  opacity:0;
  position:absolute;
  top: vwForEm(-40px);
  left: 0;
  white-space: nowrap;

  @include transform("translateY(#{vwForEm(10px)})");
  @include transition("all.2s ease-out");
}

#screen_credits button:hover:after { @include transform("translateY(0)"); opacity:1; }

/* RESULTS SCREEN --------------*/
#screen_results h1 { margin-bottom:vwForEm(50px); }
#screen_results .label { width:40%; }
#screen_results .nb { width: 10%; }
#screen_results .points { width: 25%; }
#screen_results .percent { width: 20%; }
#screen_results #results_totalCompletion { margin-top:vwForEm(14px); }

#screen_results .newRecord {
  width: vwForEm(28px);
  height: vwForEm(28px);
  position: absolute;
  border-radius: 50%;
  background: $midGrey;
  color: $orange;
  text-align: center;
  line-height: vwForEm(28px);
  font-size: $fontSize18px;
  margin-left: vwForEm(48px);
  opacity: 0;

  @include transition("none");
}

#screen_results .newRecord:before {
  content:"new record!";
  position:absolute;
  background: $midGrey;
  font-family: "Press Start 2P", cursive;
  color:$beige;
  font-size: $fontSize7px;
  width: vwForEm(90px);
  border-radius: vwForEm(20px);
  padding-left: vwForEm(18px);
  height: vwForEm(20px);
  line-height: vwForEm(20px);
  top: vwForEm(4px);
}

#screen_results .newRecord.visible { margin-left:vwForEm(32px); opacity:1; @include transition("all .5s ease-out"); }
#screen_results nav { position:absolute; right:0; bottom:0; width:100%; }
#screen_results .rank { font-family: 'Oswald-RegularItalic'; font-size:$fontSize60px; color:$beige; margin:vwForEm(150px) 0 vwForEm(10px); position:relative; }
#screen_results .stars { font-size:$fontSize32px; }
#screen_results .stars i:not(:last-child) { margin-right:vwForEm(4px); }